<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>
                  {% block title %}
              
                  Document
                      {% endblock title %}
         </title>
</head>
<body>
         <div>
             <a href="">Home</a>   
             <a href="">About us </a> 
         </div>
         {% block content %}
         {% endblock %}
         <img src="{% static 'img/mag.png' %}"/>
         
</body>
</html>